.edit-user{
    background-color: #7aab5a;
    border:2px solid green;
    padding:15px 50px;
    color:white;
    border-radius: 15px;
    text-align: left;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
}

