.profile-bg {
  background-color:#e4efdf ;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #CCC;
  border-radius: 5px;
  
}
.user-image{
  margin: 43px 10px;
  
}

.profile-bg img {
  width: 130px;
  overflow: hidden;
  border-radius: 50%;
}

.p-name {
  padding: 10px;
}

