.backgroundImg {
    min-height: 600px;
    min-width: 1024px;
    height: 100px;
    width: 100vw;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-image: url("./hermes-rivera-newhL3aprGk-unsplash.jpg");
    top: 0;
    left: 0;
    z-index: -1;


    background-repeat: repeat-x;
    animation: animatedBackground 10s ease-in-out infinite alternate;

}


.title {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.myprofile {
    margin: 10px;
}

@keyframes animatedBackground {
    0% {
        /* opacity: .9; */
        background-image: url("./manuel-pappacena-zTwzxr4BbTA-unsplash.jpg");
        background-position: 100%;
    }

    100% {
        background-position: 0 0;
    }
}

/*   #animate-area {
    width: 200px;
    height: 200px;
    background-image: url(http://placekitten.com/400/200);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
  }
 */

/* animation bg image */
@keyframes breath {
    from {

        filter: grayscale(100%);
        transform: scale(1);

    }

    to {


        transform: scale(1.15)
    }
}