.backgroundImg {
    height: 700px;
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;


    background-repeat: repeat-x;
    animation: animatedBackground 50s infinite ease-in
}



.login-signup {

    width: 500px;
    margin-top: 50px;
    /* max-width: 50%; */
    background-color: rgba(242, 243, 241, 0.1);
    border-radius: 20px;

}


.title {
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.buttons {
    padding-top: 10px;
}

.myprofile {
    margin: 10px;
}

@keyframes animatedBackground {
    0% {
        /* opacity: .9; */
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409267/Teammate/manuel-pappacena-zTwzxr4BbTA-unsplash_haku6r.jpg");
        background-position: 50%;
        filter: grayscale(50%);

    }

    27.9999999999% {
        /* opacity: .9; */
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409267/Teammate/manuel-pappacena-zTwzxr4BbTA-unsplash_haku6r.jpg");
        background-position: 0 0;
        filter: grayscale(0%);


    }

    28% {
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409281/Teammate/hermes-rivera-newhL3aprGk-unsplash_talvba.jpg");
        background-position: 0 0;
        filter: grayscale(50%);

    }

    55.99999999999999% {
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409281/Teammate/hermes-rivera-newhL3aprGk-unsplash_talvba.jpg");
        background-position: 50%;
        filter: grayscale(0%);


    }

    56% {
        /* opacity: .9; */
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409273/Teammate/tomasz-krawczyk-M2x3A8Q4JbY-unsplash_ruql83.jpg");
        background-position: 50%;
        filter: grayscale(50%);
    }

    84% {
        /* opacity: .9; */
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409273/Teammate/tomasz-krawczyk-M2x3A8Q4JbY-unsplash_ruql83.jpg");
        background-position: 0 0;
        filter: grayscale(0%);


    }

    85% {
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409281/Teammate/hermes-rivera-newhL3aprGk-unsplash_talvba.jpg");
        background-position: 0 0;
        filter: grayscale(50%);

    }

    100% {
        background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620409281/Teammate/hermes-rivera-newhL3aprGk-unsplash_talvba.jpg");
        background-position: 50%;
        filter: grayscale(0%);


    }
}