.datepicker{
    margin: 10px;
    height: 24.5px;
    border-color: white;
    
}
.datepick{
   
    height: 25px;
    border-style: solid;
    /* border: thin; */
    border-color: rgb(146, 220, 152);
    border-radius: 5px;
    border-width: thin;
    padding-left: 10px;
    
    
}