.backgroundCourt1 {
    min-height: 300px;
    height: auto;
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620513748/pista-de-padel-manza1_ksmkaz.png");

}

.backgroundCourt2 {
    min-height: 300px;
    height: auto;
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620513752/pista-de-padel-manza__2_uoguca.png");

}

.backgroundCourt3 {
    min-height: 300px;
    height: auto;
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620513765/pista-de-padel-manza__3__xe7pim.png");

}

.backgroundCour4 {
    min-height: 300px;
    height: auto;
    width: 100%;
    max-width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    overflow: hidden;
    background-image: url("https://res.cloudinary.com/teammatereact258/image/upload/v1620513780/pista-de-padel-manza__4__hytc0b.png");

}

.player1 {
    position: absolute;
    right: 35%;
    top: 38%;
    height: auto;

    z-index: 2;
}

.player2 {
    position: absolute;
    right: 30%;
    top: 58%;
    z-index: 2;
}

.player3 {
    position: absolute;
    right: 35%;
    top: 38%;
    z-index: 2;
}

.player4 {
    position: absolute;
    right: 35%;
    top: 38%;
    z-index: 2;
}