.link-profile-user {
    color: #e4efdf;;
    border-radius: 15px;
}

.p-user-profile {
    padding: 7px;
}

.espace-user {
    padding: 15px;

}
.title-user-profile {
    text-align: left;
}

.info-user-profile{
    background-color: #e4efdf;
    
}
.espace-user {
    text-align: center;
    color: white;
    background-color: olivedrab;
    padding: 10px 15px;
    border-radius: 10px;
    
}

.info {
    background-color: #e4efdf;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding-top: 10px; 
    border-radius: 15px;
    padding-bottom: 62px;
}
.card-info{
    background-color: black;
}

