.link-profile-user {
    color: #7aab5a;
}

.p-user-profile {
    padding: 7px;
}

.espace-user {
    padding: 15px;

}
.title-user-profile {
    text-align: left;
}

.info-user-profile{
    background-color: #e4efdf;
    
}
.espace-user {
    text-align: center;
}

.info {
    background-color: #7aab5a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

