.mainsection {

    background-color: grey;
    margin-top: 20px;
   /*  margin-bottom: 500px; */
  /*   z-index: 10; */
    border-radius: 20px;
    /* margin-top: auto; */
    margin-bottom: 400px;
    margin-top: 200px;

}